@mixin flexCenter {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

@mixin lightColor {
	background-color: rgb(255, 196, 196);
}

body {
	@include flexCenter();
	// margin-top: 3rem;
}

.jokeContainer {
	@include flexCenter();
	margin: 2rem;
	padding: 3rem;
	max-width: 900px;
	background-color: rgb(10, 29, 65);
	text-align: center;
	border-radius: 5%;
	// border: 1px solid black;
}

.header {
	// border: 1px solid black;
	margin-bottom: 2rem;
	padding: 2rem;
	width: 90%;
	background-color: whitesmoke;
	border-radius: 5% 5% 0 0;
}

button {
	background-color: rgb(10, 29, 65);
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
	border-radius: 5%;
}

button:hover {
	background-color: rgb(35, 55, 94);
}

.jokeBox {
	// border: 1px solid black;
	padding: 2rem;
	width: 90%;
	background-color: whitesmoke;
	border-radius: 0 0 5% 5%;
}
